@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }
body {font-family: 'Arbutus Slab', serif;
    text-align: center;   
color:pink; 
}
.nav-link {
text-align: center;   
color:pink; 
}